<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Suglove Admin</title>
    <link rel="stylesheet"  href="/static/admin/easyui/themes/default/easyui.css" />
    <link rel="stylesheet"  href="/static/admin/easyui/themes/icon.css" />
    <script  src="/static/admin/easyui/js/jquery.min.js"></script>
    <script  src="/static/admin/easyui/js/jquery.easyui.min.js"></script>
    <script  src="/static/admin/easyui/js/common.js"></script>
    <script  src="/static/admin/easyui/js/easyui_expand.js"></script>
    <script  src="/static/admin/easyui/js/phpjs-min.js"></script>

    <!-- 富文本编辑器 -->
    <link rel="stylesheet"  href="/static/admin/wangEditor/css/wangEditor.min.css" />
    <script  src="/static/admin/wangEditor/js/wangEditor.min.js"></script>
</head>